form.signup,
form.login {
  margin-top: 50px;
}


html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #cbb7d1 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #cbb7d1 !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #cbb7d1; }
  }



/* -------------- */



  
  #start-screen {
      margin-bottom: 30px;
  }
  #start-screen:hover {
      opacity:1;
  }
 
  .transbox {
    background-color: #ffffff;
    opacity: 0.8;
  }

  .box {
      padding: .66rem;
  }
  
  .box:not(:last-child) {
      margin-bottom: 0rem;
  }
  
  .fade-in {
      animation: fadeIn ease 2s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
    }
  
    @keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
  
  /* Mozilla */  
  @-moz-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
  
    /* Chrome */  
    @-webkit-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
  
      /* Opera */  
      @-o-keyframes fadeIn {
          0% {
            opacity:0;
          }
          100% {
            opacity:1;
          }
        }
  
        .fade-in-start {
          animation: fadeInStart ease 1s;
          -webkit-animation: fadeInStart ease 1s;
  
        }
      
        @keyframes fadeInStart {
          0% {
            opacity:0;
          }
          100% {
            opacity:.8;
          }
        }
      
        /* Chrome */  
        @-webkit-keyframes fadeInStart {
          0% {
            opacity:0;
          }
          100% {
            opacity:.8;
          }
        }
      

        @keyframes glowing {
          0% {
            background-color: #2ba805;
            box-shadow: 0 0 3px #2ba805;
          }
          50% {
            background-color: #49e819;
            box-shadow: 0 0 10px #49e819;
          }
          100% {
            background-color: #2ba805;
            box-shadow: 0 0 3px #2ba805;
          }
        }
  
    .fade-out {
      animation: fadeOut ease 1s forwards;
      -webkit-animation: fadeOut ease 1s forwards;
      -moz-animation: fadeOut ease 1s forwards;
      -o-animation: fadeOut ease 1s forwards;
      -ms-animation: fadeOut ease 1s forwards;
      display: none;
    }
  
    @keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }
  
    @-moz-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
  
      }
    }
  
    @-webkit-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }
  
    @-o-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }
  
    @-ms-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }
  
  
   /* TABLE ITEMS */

   .table-wrapper {
		width: 700px;
		margin: 30px auto;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}
style
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    cursor: pointer;
  }
  
  #text
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
    
  