
    <div class="row justify-content-center ">
    <div class="col-md-8">
        <h2 class="h1-responsive font-weight-bold my-4" >About</h2>
        <p> 
        Life is busy, and we get distracted. We have all these intentions of making a delicious and healthy meal, but after running a million errands, we manage to forget about all that fresh produce we bought at the grocery store and opt for pizza or Chinese food delivery. That's where Fresh Feast comes in. Fresh Feast is here and designed to keep us from overlooking those fruits and vegetables we always let go bad! With a simple and convenient user experience, our users can track their produce and know when things will go bad in order to let a little less go to waste. Fresh Feast can even give you some nice snack suggestions with what you have when maybe you aren't feeling that creative... 
        </p>
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>
