        {{!-- TOM NEW API DIV --}}

        <div>
          <button id="foodHelp" class="btn btn-info table-wropper">Help! My food is about to spoil!</button>
        </div>

        <div id="table-wripper" class="table-wripper">
        <div class="table-wrupper justify-content-center text-center  is-fluid transbox fade-in-start">
          <div stlye="background-light"> <p><b>Food about to go bad? Stay cool</p><p>Enter it below for a hit-or-miss snack suggestion!</p></div>
          <form id="target">
            <input type="text" id="food-input" placeholder="Ingredient">
            <input type="submit" value="Snack">
          </form>
                      <br>
          <div display="inline-block">
            <p id ="recipe-header"></p>
            <b><p id ="recipe-landing"></p></b>
          </div>
        </div>
        </div>

        {{!-- TOM NEW API DIV --}}