<div class="view"
  style="background-image: url('./images/rsz_pexels-element-digital-775031.jpg');  background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div id="start-screen"
          class="table-wrapper justify-content-center text-center  is-fluid transbox fade-in-start">
          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
          <table class="table table-bordered">
            <tbody>
              <tr>
                {{#each fridge}}
                {{> components/fridgerow-template}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        {{!-- TOM NEW API DIV --}}

        <div class="container justify-content-center text-center">
          <div stlye="background-light"> Need a snack suggestion? Enter an ingredient here!</div>
          <form id="target">
            <input type="text" id="food-input" placeholder="Enter Ingredient">
            <input type="submit" value="Go">
          </form>
          <div id="recipe-landing"></div>
        </div>

        {{!-- TOM NEW API DIV --}}


      </div>
    </div>
  </div>
</div>

</div>