<div class="view"
  style="background-image: url('./images/rsz_pexels-element-digital-775031.jpg');  background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div id="start-screen"
          class="table-wrapper justify-content-center text-center  is-fluid transbox fade-in-start">
          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Apple</td>
                <td>x days left</td>
                <td>
                  <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                  <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
              </tr>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
</div>